.select_contain {
  display: flex;
  justify-content: space-around;
}
.date_contain {
  display: grid;
  gap: 2rem;
}
.calendar__reset {
  display: flex;
flex-wrap: wrap;
gap: 2rem;
align-items: end;
justify-content: center;

}
.btn__reset{
  width: 20%;
}
.filtersContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0;
}
.selectContainer {
  display: flex;
  flex-flow: column;
  gap: 5px;
}
.labelStyle {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

